<!doctype html>
<html lang="zh">
{{ template "head" .}}

<body>
    {{ template "header" .}}
    <div class="container-xxl lark-gutter mt-3 my-md-4 lark-layout">
        {{ template "sidebar" .}}

        <main class="bd-main order-1">
            <div class="bd-toc mt-3 mb-5 my-lg-0 ps-xl-3 mb-lg-5 text-muted">
                <button class="btn btn-link link-dark p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none"
                    type="button" data-bs-toggle="collapse" data-bs-target="#tocContents" aria-expanded="false"
                    aria-controls="tocContents">
                    索引
                    <svg class="bi d-md-none ms-2" aria-hidden="true">
                        <use xlink:href="#chevron-expand"></use>
                    </svg>
                </button>
                <strong class="d-none d-md-block h6 my-2">索引</strong>
                <hr class="d-none d-md-block my-2">
                <div class="collapse bd-toc-collapse" id="tocContents">
                    <nav id="TableOfContents">
                        <ul>
                            {{ range .V.Diaries }}
                            {{ $c := index .Contents 0 }}
                            <li><a href="#c{{ $c.Id }}"><i class="bi bi-dash"></i> {{ $c.TimeStr }}</a></li>
                            {{end}}

                        </ul>
                    </nav>
                </div>
            </div>


            <div class="bd-content ps-lg-2">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    {{ if ne .V.PreviousLink "" }}
                    <a href="{{ .V.PreviousLink }}"><i class="bi bi-arrow-left"></i></a>
                    {{ else }}
                    <i class="bi bi-arrow-left"></i>
                    {{ end }}
                    
                    {{ .V.DateStr }}
                    {{ if ne .V.NextLink "" }}
                    <a href="{{ .V.NextLink }}"><i class="bi bi-arrow-right"></i></a>
                    {{ else }}
                    <i class="bi bi-arrow-right"></i>
                    {{ end }}
                </div>
                {{ range .V.Diaries }}

                {{ $c := index .Contents 0 }}
                <div class="card mb-3" id="c{{ $c.Id }}">
                    <div class="card-body">
                        <div class="card-subtitle mb-2 text-muted small">
                            <i class="bi bi-clock"></i>
                            {{ $c.TimeStr }}
                            &middot; 
                            <i class="bi bi-card-text"></i>
                            {{ $c.ContentLen }} 字
                            <div class="float-end">
                                <a href="/diary/edit/{{ $c.Id }}">
                                    <i class="bi bi-pen-fill" title="{{ .Revisions }} revisions"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-text fs-5">
                            {{ $c.HtmlContent }}
                        </div>
                    </div>
                </div>

                {{ end }}

            </div>
        </main>
    </div>
    {{ template "footer" . }}
</body>

</html>