<!doctype html>
<html lang="zh">
{{ template "head" .}}

<body>
    {{ template "header" .}}
    <div class="container-xxl lark-gutter mt-3 my-md-4 lark-layout">
        {{ template "sidebar" .}}

        {{ $c := index .D.Contents 0 }}
        <main class="p-1">
            <div class="mb-3">
                <label for="newWordsContent" class="form-label">Type your words</label>
                <textarea rows="12" class="form-control " id="newWordsContent" aria-describedby="newWordsContentHelp" autofocus>{{ $c.Content }}</textarea>
                <div id="newWordsContentHelp" class="form-text text-end small text-muted">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Revision comment</label>
                <input type="text" class="form-control" id="comment">
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-primary btn-sm" id="saveNewWords" disabled>Save new
                    words</button>
            </div>
        </main>
    </div>
    {{ template "footer" . }}
    <script>
        const maxWords = {{ .Config.Server.MaxWordsAllowed }};
        let newWordsContent = document.querySelector("#newWordsContent");
        let newWordsContentHelp = document.querySelector("#newWordsContentHelp");
        let saveNewWords = document.querySelector("#saveNewWords");
        let comment = document.querySelector("#comment")

        newWordsContent.addEventListener("input", function () {
            let inputWords = newWordsContent.value.length;
            newWordsContentHelp.innerHTML = `${maxWords - inputWords} words remaining...`;

            if (inputWords > maxWords || inputWords <= 0) {
                saveNewWords.disabled = true;
            } else {
                saveNewWords.disabled = false;
            }
        });

        document.addEventListener("DOMContentLoaded", function () {
            newWordsContentHelp.innerHTML = `Max words allowed: ${maxWords}`;
        });

        saveNewWords.addEventListener("click", function () {
            saveNewWords.disabled = true;
            if (newWordsContent.value.length > maxWords || newWordsContent.value.length <= 0) {
                return;
            }

            fetch("/api/add", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: {{ .D.Id }},
                    contents: [{
                        content: newWordsContent.value,
                        comment: comment.value
                    }]
                })
            }).then(res => {
                return res.json()
            }).then(data => {
                console.log("Add new words successfully.");
                console.log(data)
                if (data.Error) {
                    alert(data.Error);
                } else {
                    window.location.href = "/";
                }

            });
        });
    </script>
</body>

</html>